@* 

<form asp-controller="Account" asp-action="LogOut" method="post" id="LogOutForm" class="navbar-nav">
</form>
<ul class="nav navbar-nav navbar-right">
    <li><a class ="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
    <li><a class="nav-link text-dark"  asp-controller="Account" asp-action="LogIn">Log In</a></li>
</ul>

 *@