

<div class="text-end">
<form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
</div>


<h2>Hello @ViewBag.MyMessage </h2>

